h2{
    font-size: 35px;
    padding-bottom: 20px;
}

.divContainer{
    margin: 40px;
    

}

.divFloat{
    background-color: aqua;

    .divCalculos{
        background-color: chocolate;
    }
}

