h2{
    font-size: 35px;
    padding-bottom: 20px;
}

.divContainer{
    margin: 40px;
    

}

.divFloat{
    background-color: aqua;

    .divCalculos{
        background-color: chocolate;
    }
}

.btnCartcontainer{
    display: grid;
    grid-template-columns: 50% 50%;

    .btnCart{
        display: flex;
        justify-content: end;

        .btnClearCart{
            padding-right: 20px;
        }
    }
}

